# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=nextauth

# Database URL
DATABASE_URL=postgresql://postgres:password@localhost:5432/nextauth

# Better Auth
AUTH_SECRET=          # generate: npx auth secret
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
NEXTAUTH_URL=http://localhost:3000
