# PostgreSQL (Docker Compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=nextauth

# Database URL for Auth.js
DATABASE_URL=postgresql://postgres:password@localhost:5432/nextauth

# NextAuth.js (Auth.js)
AUTH_SECRET= # Generate with `npx auth secret`
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
NEXTAUTH_URL=http://localhost:3000
